.header{
    text-align: center;
    font-family: 'Times New Roman', Times, serif, cursive;
    font-style: bold;
    color: rgba(255, 68, 0, 0.856);
    font-size: larger;
    border: 10px double orange;
}

.font1key{
    font-family: 'Times New Roman', Times, serif, cursive;
    font-size: 70px;
    color: brown;
    text-align: left;
}

.borderSize{
    background-color: orangered;
    text-align: right;
    font-family: 'Times New Roman', Times, serif, cursive;
    font-size: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.icolor{
    background-color: yellow;
}

.enter{
    margin-bottom: 0px;
    margin-top: 0px;
}

.style{
    text-align: left;
    font-family: 'Times New Roman', Times, serif, cursive;
    font-size: 16px
}

.font2key{
    font-family: 'Times New Roman', Times, serif, cursive;
    font-size: 75px;
    color: brown;
}

#bfont{
    color: rgb(161, 31, 31);
    font-family: 'Times New Roman', Times, serif, cursive;
    font-size: 20px;
}

#ifont{
    background-color: rgb(175, 175, 49);
}

.pa{
    text-align: right;
}
.styleFont{
    margin-bottom: 100%;
    box-sizing: content-box;
}

@font-face {
    font-family: Times New Roman;
    src: url(sansation_light.woff);
}
.div {
    font-family: myFirstFont;
  }